<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
		<style>
			.navbar, .footer {
    		background-color: #01426A;
				color: white;
				font-weight: bold;
  		}
		</style>
		{% block extra-css %}
		{% endblock extra-css %}
    <title>CMP Admin</title>
  </head>
  <body>
    {% block nav %}
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="https://bulma.io">
						CMP Admin
					</a>
			
					<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div id="navbar" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="{% url 'cmp_admin:index' %}"> Início</a>
						<a class="navbar-item" href="{% url 'cmp_admin:show_tickets' %}"> Chamados</a>
					</div>

					<div class="navbar-end">
						<a class="navbar-item" href="{% url 'cmp_admin:logout' %}"> Sair </a>
					</div>
				</div>
			</nav>
    {% endblock nav %}
		
		<section class="section">
      <div class="container">

        {% block main %}{% endblock main %}

      </div>
    </section>

		{% block footer %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Tribunal Regional do Trabalho da 5ª Região</strong>
					<p>Coordenadoria de Manutenção e Projetos</p>
        </p>
      </div>
		</footer>
    {% endblock footer %}
  </body>
</html>
