{% extends 'cmp_admin/base.html' %}

{% block extra-css %}
<style>
  .card {
    border-radius: 1rem;
  }
</style>
{% endblock extra-css %}

{% block main %}

<p class="title is-3">Estatísticas dos chamados:</p>

<div class="columns">
  <div class="column card p-4 m-4">
    <div class="card-header">
      <p class="title is-5">Total:</p>
    </div>
    <div>
      {{ all_tickets_count }} (100%)
    </div>
  </div>
  <div class="column card p-4 m-4">
    <div class="card-header">
      <p class="title is-5">Em aberto:</p>
    </div>
    <div>
      {{ opened_tickets_count }} ({{ opened_tickets_perc }}%)
    </div>
  </div>
  <div class="column card p-4 m-4">
    <div class="card-header">
      <p class="title is-5">Em andamento:</p>
    </div>
    <div>
      {{ ongoing_tickets_count }} ({{ ongoing_tickets_perc }}%)
    </div>
  </div>
  <div class="column card p-4 m-4">
    <div>
      <div class="card-header">
        <p class="title is-5">Resolvidos:</p>
      </div>
    </div>
    <div>
      {{ solved_tickets_count }} ({{ solved_tickets_perc }}%)
    </div>
  </div>
</div>

<p class="title is-3">Chamados mais antigos em aberto:</p>

<div class="columns">
  {% for ticket in earliest_open_ticket_list %}
  <a href="{% url 'cmp_admin:ticket_detail' ticket.pk %}">
    <div class="column card p-4 m-4 has-background-warning">
      <div class="card-header">
        <p class="title is-5">{{ ticket.place_id }}</p>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p><strong>Setor: </strong>{{ ticket.sector_id }}</p>
            <p><strong>Área: </strong>{{ ticket.subject_id }}</p>
            <p><strong>Serviço: </strong> {{ ticket.service_id }}</p>
          </div>
        </div>
  
        <div class="card-footer is-flex-direction-column">
          <p><strong>Aberto em: </strong><time datetime>{{ ticket.created_at }} ({{ ticket.created_at|timesince }})</time></p>
        </div>
      </div>
  </a>
  </div>
  {% endfor %}
</div>

{% endblock main %}


<h1>Últimos chamados</h1>

<div class="ui four column doubling stackable grid container">
  {% for ticket in object_list %}
  <ul>
    <fieldset>
      <li>{{ ticket.place_id }}</li>
      <li>{{ ticket.sector_id }}</li>
      <li>{{ ticket.service }}</li>
      <li>{{ ticket.description }}</li>
      <fieldset>
        {% for info in ticket.infos.all %}
        <p>{{ info.description }}</p>
        {% endfor %}
      </fieldset>
    </fieldset>
  </ul>
  {% endfor %}
</div>
