{% extends 'cmp_admin/base.html' %}

{% block extra-css %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bulma.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bulma.min.css">


<script>
  $(document).ready(function () {
    $('#table').DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
      }
    })
  })
</script>

<style>
  .hoverable-row:hover {
    background-color: gray;
  }
</style>
{% endblock extra-css %}

{% block main %}
<section class="section">
  <div class="container">
    <p class="title is-3">Chamados:</p>
    <div class="columns is-centered">
      <table id="table" class="table" style="width: 100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Local</th>
            <th>Setor</th>
            <th>Telefone</th>
            <th>Área</th>
            <th>Serviço</th>
          </tr>
          <tbody>

          {% for ticket in all_tickets %}
          <tr class="hoverable-row">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.status_id }}</td>
            <td>{{ ticket.created_at.date|date:'d/m/Y' }}</td>
            <td>{{ ticket.created_at.time }}</td>
            <td>{{ ticket.place_id }}</td>
            <td>{{ ticket.sector_id }}</td>
            <td>{{ ticket.contact_phone }}</td>
            <td>{{ ticket.subject_id }}</td>
            <td>{{ ticket.service_id }}</td>
          </tr>
          {% endfor %}

          </tbody>
        </thead>
      </table>
    </div>
  </div>
</section>
{% endblock main %}
